version: "3"
services:
  postgres:
    image: library/postgres:13
    container_name: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./postgres/:/docker-entrypoint-initdb.d/
    ports:
      - "5432:5432"

  gateway:
    image: alexanderfedoseeff/lab-rsoi-gateway
    restart: on-failure
    build: ./gateway/
    container_name: gateway
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - reservation
      - payment
      - loyalty
    
  reservation:
    image: alexanderfedoseeff/lab-rsoi-reservation
    restart: on-failure
    build: ./reservation/
    container_name: reservation
    ports:
      - "8070:8070"
    depends_on:
      - postgres

  payment:
    image: alexanderfedoseeff/lab-rsoi-payment
    restart: on-failure
    build: ./payment/
    container_name: payment
    ports:
      - "8060:8060"
    depends_on:
      - postgres

  loyalty:
    image: alexanderfedoseeff/lab-rsoi-loyalty
    restart: on-failure
    build: ./loyalty/
    container_name: loyalty
    ports:
      - "8050:8050"
    depends_on:
      - postgres

volumes:
  db-data: